.profile-card {

    height: 75vh;
    width: 50vw;
    border: 1px solid black;

    .img-container {

        height: 60%;
        display: flex;
        justify-content: center;

        img {
            height: 100%; 
            object-fit: cover;  
        }
    }


    form {
        width: 100%;
        height: 40%;
    }


    .flex {
        display: flex;
        height: 30px;
    }

    .flex p:first-child {
        width: 50%;
        text-align: right;
        margin: .5em;
    }

    .flex p:last-child {
        width: 50%;
        text-align: left;
        margin: .5em;
        font-weight: bold;
    }

    .profile button {
        color: white;
        border: none;
        border-radius: 0.3em;
        padding: 0.6em 1.2em;
        outline: none;
        align-self: center;
    }

    .flex>input,
    .flex>div {
        width: 55%;
        text-align: left;
        margin: .5em;
    }

    .flex>div>input {
        width: 77%;
    }

    .flex select {
        padding: 0.17em 0;
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 3px;
    }

    input {
        height: 20px;
    }

    /* errors  */

    .error {
        text-align: left;
        border-radius: 0.3em;
        color: red;
        padding-top: 0;
        border-color:red;
    }

    .input-error {
        border-left-color: red;
    }

}