<form #form="ngForm" class="login" (ngSubmit)="loginHandler(form)">
    <fieldset>
        <h2>Login Form</h2>

        <p class="field field-icon">
            <label for="email">Email</label>
            <input #emailInput="ngModel" class="input-error" ngModel required type="email" email="true" name="email" id="email"
                placeholder="john.doe@gmail.com">
        </p>
        <ng-container *ngIf="emailInput.touched">
            <p class="error" *ngIf="emailInput.errors?.['required']">
                Email is required!
            </p>
            <p class="error" *ngIf="emailInput.errors?.['email']">
                Email is not valid!
            </p>
        </ng-container>
        <!-- {{emailInput.errors | json}} -->

        <p class="field field-icon">
            <label for="password"><span>Password</span></label>
            <input type="password" ngModel #passwordInput="ngModel"
             name="password" id="password" placeholder="******" required [minlength]="6">
        </p>
        <ng-container *ngIf="passwordInput.touched">

            <p class="error" *ngIf="passwordInput.errors?.['required']">
                Password is required!
            </p>
            <p class="error" *ngIf="passwordInput.errors?.['minlength']">
                Password must be at least 6 characters!
            </p>
        </ng-container>

        <button [disabled]="form.invalid">Login</button>


    </fieldset>
</form>