<div class="apartment-info">
    <div class="info">
        <div class="text">
            <h2>BRAND MODEL</h2>
            <p>Construction year: </p>
            <p>Fuel type:</p>
            <p>Number of seats: </p>
            <p>Price/day: </p>
            <p>Available: </p>
            <!-- {user && user.role === 'admin' && -->
                <button onClick={editApartment}>Edit</button>
            <!-- } -->
        </div>
        <img src="https://picsum.photos/250/200" alt="None" />
    </div>
</div>