<div class="apartment-info">
    <div class="info">
        <div class="text">
            <h2>Name: {{(apiService.apartment | async )?.name }}</h2>
            <p>City: {{apartment?.city}}</p>
            <p>Number of rooms: {{apartment?.numberOfRooms}}</p>
            <p>Price/day: {{apartment?.pricePerDay}}</p>
            <p>Available: {{apartment?.available ? "Yes": "No"}}</p>
            <!-- {user && user.role === 'admin' && -->
            <!-- <button onClick={editApartment}>Edit</button> -->
            <!-- } -->
        </div>
        <img src="{{apartment?.imageUrl}}" alt="None" />
    </div>

    <div class="comments">
        <form class="add-comment" action="">
            <label for="comment">Add comment:</label>
            <input type="text">
            <button>SUBMIT</button>
        </form>
    <div class="comment">
        <div class="comment-info">
            <div class="comment-text">
                <h3>Username</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, minus placeat. Pariatur
                    impedit excepturi fuga quasi natus repellat, vel esse?</p>
            </div>
        </div>

    </div>
    <div class="comment">
        <div class="comment-info">
            <div class="comment-text">
                <h3>Username</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, doloremque corporis aspernatur a
                    in quod eaque laborum commodi deleniti assumenda.</p>
            </div>
        </div>

    </div>
    <div class="comment">
        <div class="comment-info">
            <div class="comment-text">
                <h3>Username</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, doloremque corporis aspernatur a
                    in quod eaque laborum commodi deleniti assumenda.</p>
            </div>
        </div>

    </div>
</div>

</div>