<header class="header">
    <nav>
        <ul role="list">
            <li>
                <a href="/apartments-list">Apartments</a>
            </li>

            <li>
                <a href="/rentals">Rentals</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/register">Register</a>
            </li>
        </ul>
    </nav>
</header>