<header class="header">
    <nav>
        <ul role="list">
            <li>
                <a routerLink="/apartments">Apartments</a>
            </li>

            <li>
                <a routerLink="/rentals">Rentals</a>
            </li>
            <li>
                <a routerLink="/auth/logout">Logout</a>
            </li>
            <li>
                <a routerLink="/auth/login">Login</a>
            </li>
            <li>
                <a routerLink="/auth/register">Register</a>
            </li>
        </ul>
    </nav>
</header>