<header class="header">
    <nav>
        <ul role="list">
            <li>
                <a routerLink="/apartments">Apartments</a>
            </li>

            <li *ngIf="!!(authService.user | async)">
                <a routerLink="/auth/myProfile">My Profile</a>
            </li>
            <li *ngIf="!!(authService.user | async)">
                <a (click)="logout()">Logout</a>
            </li>
            <li *ngIf="!(authService.user | async)">
                <a routerLink="/auth/login">Login</a>
            </li>
            <li *ngIf="!(authService.user | async)">
                <a routerLink="/auth/register">Register</a>
            </li>
        </ul>
    </nav>
</header>